textarea {
    resize: none;
}


.navbar-brand {
	font-weight: bold;
}

.jumbotron,
footer {
	background-color: #ffeb0196;
}

.jumbotron {
	margin-top: 3rem;
}
.hoteles {
	background-color: #fafafa;
}

.hotel {
	width: 30%;
}

.hotel h2 {
	text-align: center;
}

.hotel button {
	margin-top: auto;
	background-color: #6ab7ff;
	border-color: #6ab7ff;
}

.card-body img {
	margin-bottom: 1rem;
}

.location {
	font-size: 1.5em;
	font-weight: bold;
}

.about {
	text-align: right;
}


footer a {
	display: block;
	font-size: 1.25em;
}

footer p,
.location {
	text-align: center;
}

.footer-address-icon {
    margin-right: .75rem;
}

.oi-star {
	color: #fff;
}

.ranked {
	color: yellow;
}

thead.bg-warning {
	color: #000;
}

#tarjetas .card {
	width: 20rem;
}

@media screen and (max-width: 575px) {
	footer a {
		text-align: center;
	}

	footer address {
		margin: 2rem 0;
	}
}

@media screen and (max-width: 350px) {
	#tarjetas .card {
		width: 100%;
	}
	
}